MIDME.md

/data/features
/data/oxbuildings
/data/oxford
/data/paris
*.zip

/__pycache__

kaggle.json
explore_sift.ipynb
_test_sift_embeddings.ipynb

verify_sift_features.py
*.err
*.out
/results
/data/groundtruth
